<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>sample page</title>
</head>
<body>
<h3>USER REGISTER PAGE </h3>
<form action="/save" method="POST">
<pre>
  NAME      :<input type="text" name="name"/>
  EMAIL     :<input type="text" name="email"/>
  PASSWORD  :<input type="text" name="pwds"/>
  ROLES     :<input type="checkbox" name="roles" value="ADMIN"/>ADMIN
             <input type="checkbox" name="roles" value="EMPLOYEE"/>EMPLOYEE
             
            <input type="submit" value ="ADD USER"/>
</pre>
</form>
<div th:text="${message}"> </div>
</body>

</html>